@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #000;
}

.dark {
  --background: #000;
  --foreground: #fff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto-flex), var(--font-noto-serif-jp);
}

body {
  display: block grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100svh;
  height: 100svh;
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto-flex), var(--font-noto-serif-jp), sans-serif;
  font-size: 0.875rem;
}

button {
  cursor: pointer;
}

button:active {
  cursor: pointer;
}
